<p id="notice"><%= notice %></p>

<h1 class="py-3">Dishes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <th scope="row"><%= dish.id %></th>
        <td><%= dish.name %></td>
        <td>Otto</td>
        <td><%= number_to_currency(dish.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Dish', new_admin_dish_path, class: "btn btn-md btn-primary" %>
